<!DOCTYPE html>
<html>
<head>
    <%- include ("../partials/header.ejs") %>
    <script type="text/javascript" src="https://deloitteconsultingpdc-dev-ed.my.salesforce.com/support/api/53.0/lightning/opencti_min.js"></script>
</head>

<body>

  <%- include ("../partials/nav.ejs") %>

    <div class="jumbotron text-center">
      Login
    </div>
    <div class="container">
        <label for="txtUsername">Username</label>
        <input type="text" id="txtUsername"></input>
        <br>
        <label for="txtPassword">Username</label>
        <input type="password" id="txtPassword"></input>
        <br>
        <button id="btnLogin">Login</button>
    </div>


</body>
</html>
